.masthead {
    font-size: 3em;
    font-weight: 700;
    text-align: center;
    font-family: "Merriweather", serif;
    color: #8B0000;
    font-style: italic;
    padding-top: 10px;
}

.hero-container {
    position: relative;
    text-align: center;
    color: white;
}

.hero-image {
    width: 100%;
    display: block;
}

.overlay {
    position: absolute;
    top: 20%;
    width: 100%;
    background-color: black;
    opacity: .7;
}

.hero-head {
    font-family: "Merriweather", serif;
    font-size: 6em;
    color: white;
    margin: 0 auto;
    padding-bottom: 10px;
}

.hero-sub {
    font-family: "Merriweather", serif;
    font-size: .25em; 
}

.headline {
    font-size: 2em;
    font-weight: 700;
    text-align: left;
    font-family: "Merriweather", serif;
    padding-left: 10%;
    padding-top: 35px;
}

.byline {
    font-size: 1em;
    font-family: "Merriweather", serif;
    text-align: left;
    padding-left: 10%;
    padding-bottom: 35px;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 180%;
    padding-left: 10%;
    padding-right: 10%;
}

iframe {
    margin: 0 auto;
    padding-right: 10%;
    padding-left: 10%;
}

/* Media Queries */

/* Mobile */
@media (max-width: 650px) {
    p {
        padding-left: 20px;
        padding-right: 10px;
    }

    .hero-head {
        font-size: 1.53em;
    }
}

/* Tablets */
@media (min-width: 768px) {

}

/* Desktops */
@media (min-width: 992px) {

}

/* Large desktops */
@media (min-width: 1200px) {

}

/* End Media Queries */

blockquote {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 15px;
  font-style: italic;
  margin-top: 15px;
  margin-bottom: 50px;
  color: grey;
  margin-left: 148px;
  padding-left: 5%;
  padding-right: 15%;
  border-left: 4px solid #ccc;
}

.img {
  text-align: center;
  font-style: italic;
  font-size: small;
}

h3 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color:#8B0000;
}