/* Style for my resume */

BODY {
    font-family: 'Open Sans', arial, sans-serif;
    font-size: 1em;
    color:#444;
    font-weight: 400;
}

#container {
    width:100%;
    max-width: 1200px;
    margin:0 auto;
    margin-bottom: 30px;
    padding-bottom: 50px;
}

/* Name */
#name {
    font-size: 3em;
    text-transform: uppercase;
    text-align: center;
    color: #33485e;
    border-bottom: 1px solid #33485e;
    width: 60%;
    min-width: 300px;
    margin: 0 auto;
}

/* My title */
strong {
    color: #33485e;
    text-transform: uppercase;
    font-size: 1.5em;
    text-align: center;
}

/* Section titles */
.sectionheader {
    font-size: 1.5em;
    text-transform: uppercase;
    background-color:#33485e;
    color: #fff;
    font-weight: 400;
    margin-bottom: 10px;
    margin-top: 20px;
    margin: 10px 20px 0 0;
    width: 70%;
    min-width: 300px;
}

/* Job title */
.jobtitle {
    font-size: 1.5em;
    font-weight: 600;
}

/* Job organization */
.organization {
    font-size: 1.5em;
    font-weight: 400;
}

/* Job dates */
 .date {
    font-size: 1.5em;
    font-weight: 400;
    font-style: italic;
    margin-top: 2px;
}

/* Paragraphs, contact information, skills, education items */
li {
    font-size:1em;
}

.menu {
    margin:0;
    padding:0;
    text-align:center;
}

.menu li {
    display: inline;
}

.description {
    margin-top: 10px;
    margin-bottom: 10px;
}

#degrees {
    margin-top: 5px;
}

#do {
    margin-top: 5px;
}

#title {
    font-weight: 600;
    text-align: center;
    margin-top: 20px;
}

.top {
    width: 60%;
    min-width: 300px;
    margin:0 auto;
    margin-bottom: 30px;
}